html * {
  padding: 0;
  margin: 0;
}

#root {
  margin: 2% auto;
}

ul:last-child {
  margin: 0 !important;
}

li {
  height: 100%;    
  background-color: aquamarine;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
}

li > span {
  font-size: 10px;
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 1;
  color: brown;
}

li:hover {
  box-shadow: 1px 1px 3px #ccc;
}

li.selected {
  cursor: auto;
}

li.selected:hover {
  box-shadow: none;
}

li:last-child {
  margin: 0 !important;
}

li.selected::after {
  border-radius: 3px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  height: 50px;
  width: 50px;
  font-size: 18px;
  background-color: bisque;
  box-shadow: inset 1px 1px 3px #ccc;
}

li.selectedX::after {
  content: 'X';
}

li.selected0::after {
  content: '0';
  background-color: khaki;
}

li.selected.winner::after {
  background-color: chartreuse;
}

.error {
  text-align: center;
  color: brown;
  font-size: 12px;
  display: none;
}

.error.show {
  display: block;
}